node_modules
*.js
*.map
*.d.ts
*.tsbuildinfo
!commitlint.config.js
!commitlint.config.mjs
!eslint.config.js
!eslint.config.mjs
!web-test-runner.config.js
!web-test-runner.config.mjs

## editors
/.idea
/.vscode

## build artifacts
dist
coverage
doc


